.topnav a {
    flex: auto;
    margin: auto;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px 16px;
    font-size: 17px;
}
.topnav {
    display: flex;
    overflow: hidden;
    background-color: #444654;
}
.topnav a:hover {
    background-color: #343541;
}
.topnav a.active {
    background-color: #10a37f;
}
.topnav a.hidden {
    display: none;
}